@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --colors-yellow: #ffff80;
    --colors-pink: #ff80bf;
    --colors-purple: #9580ff;
    --colors-red: #ff9580;
    --colors-orange: #ffca80;
    --colors-green: #8aff80;
    --colors-cyan: #80ffea;
    --colors-primary: #f2f2f2;
    --colors-secondary: #8f9ba8;
    --colors-background: #08070b;
    --colors-hover: #212024;
    --colors-command: rgba(255, 255, 255, 0.05);
    --space-navHeightDesktop: 90px;
    --space-navHeightMobile: 110px;
    --transitions-duration: 0.2s;
    --radii-borderRadius: 8px;
  }
  html, body {
    scroll-behavior: smooth !important;
    -webkit-font-smoothing: antialiased;
  }

  .prose {
    overflow: hidden;
  }

  .prose p {
    margin: 20px 0;
    color: var(--colors-secondary);
    font-size: 16px;
    line-height: 32px;
  }

  .prose h2 {
    margin: 60px 0 0; 
    color: var(--colors-primary);
    font-size: 24px;
    line-height: 32px;
  }

  .prose h3 {
    margin: 48px 0 0; 
    color: var(--colors-primary);
    font-size: 18px;
    line-height: 28px;
  }

  .prose a {
    text-decoration:  none;
    border-bottom:  .5px solid var(--colors-secondary);
    color: var(--colors-primary);
  }

  .prose li {
    color: var(--colors-secondary);
  }

  .prose strong {
    color: var(--colors-primary);
  }

  .prose code {
    color: var(--colors-primary);
  }

  [data-rehype-pretty-code-fragment] code {
    @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
    counter-reset: line;
    box-decoration-break: clone;
  }

  [data-rehype-pretty-code-fragment] .line {
    @apply py-1;
  }

  [data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: gray;
  }

  [data-rehype-pretty-code-fragment] .line--highlighted {
    @apply bg-slate-500 bg-opacity-10;
  }

  [data-rehype-pretty-code-fragment] .line-highlighted span {
    @apply relative;
  }

  [data-rehype-pretty-code-fragment] .word--highlighted {
    @apply rounded-md bg-slate-500 bg-opacity-10 p-1;
  }

  [data-rehype-pretty-code-title] {
    @apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-neutral-200 border-[#333333] bg-[#1c1c1c];
  }

  [data-rehype-pretty-code-title] + pre {
    @apply mt-0 rounded-t-none border-t-0;
  }


code {
  counter-reset: line;
}
 
code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
 
  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}
 
code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}
 
code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}
}

@layer utilities {
   /* Hide scrollbar for Chrome, Safari and Opera */
   .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

