@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --colors-yellow: #ffff80;
    --colors-pink: #ff80bf;
    --colors-purple: #9580ff;
    --colors-red: #ff9580;
    --colors-orange: #ffca80;
    --colors-green: #8aff80;
    --colors-cyan: #80ffea;
    --colors-primary: #f2f2f2;
    --colors-secondary: #8f9ba8;
    --colors-background: #08070b;
    --colors-hover: #212024;
    --colors-command: rgba(255, 255, 255, 0.05);
    --space-navHeightDesktop: 90px;
    --space-navHeightMobile: 110px;
    --transitions-duration: 0.2s;
    --radii-borderRadius: 8px;
  }
  html {
    scroll-behavior: smooth !important;
  }
}

@layer utilities {
   /* Hide scrollbar for Chrome, Safari and Opera */
   .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

